[paths]
source =
   src/hunter
   */site-packages/hunter

[run]
branch = true
source =
    hunter
parallel = true
plugins = Cython.Coverage

[report]
show_missing = true
precision = 2
omit = *migrations*
