# To install the git pre-commit hooks run:
#   pre-commit install --install-hooks
# To update the versions:
#   pre-commit autoupdate
exclude: '^(.tox/|ci/templates/|src/hunter.(pth|embed)$|src/hunter/vendor/|.bumpversion.cfg$|.*\.c$)'
# Note the order is intentional to avoid multiple passes of the hooks
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.262
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude_types:
          - c
      - id: end-of-file-fixer
        exclude_types:
          - c
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: debug-statements
        exclude: '^tests/sample*|src/hunter/actions.py'
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.1.8
    hooks:
      - id: cython-lint
